.learnMoreButton {
  width: 8.5em;
  position: relative;
  height: 2.8em;
  border: 3px ridge transparent;
  outline: none;
  background-color: transparent;
  color: white;
  transition: 1s;
  border-radius: 0.3em;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonText {
  position: relative;
  z-index: 2;
}

.learnMoreButton::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 3%;
  width: 95%;
  height: 40%;
  background-color: #060607;
  transition: 0.5s;
  transform-origin: center;
  z-index: 1;
}

.learnMoreButton::before {
  content: "";
  transform-origin: center;
  position: absolute;
  top: 80%;
  left: 3%;
  width: 95%;
  height: 40%;
  background-color: #060607;
  transition: 0.5s;
  z-index: 1;
}

.learnMoreButton:hover::before,
.learnMoreButton:hover::after {
  transform: scale(0);
}

.learnMoreButton:hover {
  border-color: #ea7414;
  box-shadow: inset 0px 0px 25px #ea9414;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}