.learnMoreButton {
  width: 9em;
  position: relative;
  height: 3em;
  border: 3px ridge #ea7414;
  outline: none;
  background-color: transparent;
  color: white;
  transition: 1s;
  border-radius: 0.3em;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  /* overflow: hidden; Removed to let masks work correctly if needed, though they are inside */
}

.buttonText {
  position: relative;
  z-index: 2;
}

.learnMoreButton::after {
  content: "";
  position: absolute;
  top: -3px;
  /* Precise to cover border */
  left: 3%;
  width: 94%;
  height: 6px;
  /* Precise to cover border */
  background-color: #060607;
  transition: 0.5s;
  transform-origin: center;
  z-index: 1;
}

.learnMoreButton::before {
  content: "";
  transform-origin: center;
  position: absolute;
  bottom: -3px;
  /* Precise to cover border */
  left: 3%;
  width: 94%;
  height: 6px;
  /* Precise to cover border */
  background-color: #060607;
  transition: 0.5s;
  z-index: 1;
}

.learnMoreButton:hover::before,
.learnMoreButton:hover::after {
  transform: scaleY(0);
  /* Better than scale(0) for this effect */
}

.learnMoreButton:hover {
  box-shadow: inset 0px 0px 25px #ea9414;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}